@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

html, body {
  min-height: -webkit-fill-available;
  display: flex;
  height: 100% !important;
  width: 100% !important;
  flex-direction: column;
  position: relative;
}

/* .v-application {
  font-family: 'Quicksand', sans-serif !important;
} */

/* Remove scrollbar */
body::-webkit-scrollbar, .wk-container::-webkit-scrollbar, .v-navigation-drawer__content::-webkit-scrollbar {
  width: 0px;
}

.scrollable-area {
  position: relative;
  height: 100%;
}

main {
  overflow: hidden !important;
  width: 100%!important;
  height: 100%!important;
  display: flex!important;
  flex-direction: column!important;
  position: relative!important;
}

.wk-container {
  height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: auto;
}

.wk-container.home {
  overflow: auto !important;
}

.simplebar-scrollbar.simplebar-visible:before{
  opacity:.6 !important;
  transition:opacity 0.1s linear !important
}

.wk-header {
  position: relative;
  background: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
}

.wk-header::after {
  content: "";
  position:absolute;
  z-index: -1;
  height: 10px;
  top: 60%;
  left: 5%;
  right: 5%;
  border-radius: 100px / 5px;
  box-shadow:0 0 18px rgba(0,0,0,0.6);
}

/* CUSTOM TABLE */

.home .v-data-table__wrapper table .v-data-table-header-mobile tr th {
  border-bottom: none !important;
}

.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row:first-child {
  margin-top: 3px;
  border-top: thin solid rgba(0, 0, 0, 0.12);
}

.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row:last-child {
  border: none;
}
.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row {
  border-bottom: 1px solid #efefef;
  display:table-row;
  height: 48px;
  cursor: pointer;
}

.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row td, .home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row .v-data-table__mobile-row__header {
  display: none;
}

.home .v-data-table__wrapper > table > tbody > tr:not(:last-child) > .v-data-table__mobile-table-row:last-child, .home .v-data-table__wrapper > table > .v-data-table-header-mobile > tr:last-child > th  {
  border-bottom: none !important;
}

.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row .v-data-table__mobile-row__cell {
  text-align: start !important;
}

.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row td:nth-child(1), .home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row td:nth-child(2), .home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row td:nth-child(5) {
  display: table-cell;
}