@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');

html, body {
  min-height: -webkit-fill-available;
  display: flex;
  height: 100% !important;
  width: 100% !important;
  flex-direction: column;
  position: relative;
}

.v-application {
  font-family: 'Quicksand', sans-serif !important;
}

.v-card__title, h6 {
  font-weight: 600 !important;
}

/* Remove scrollbar */
body::-webkit-scrollbar, .wk-container::-webkit-scrollbar, .v-navigation-drawer__content::-webkit-scrollbar {
  width: 0px;
}

.scrollable-area {
  position: relative;
  height: 100%;
}

main {
  overflow: hidden !important;
  width: 100%!important;
  height: 100%!important;
  display: flex!important;
  flex-direction: column!important;
  position: relative!important;
}

.wk-container {
  height: calc(100vh - 50px);
  overflow: auto;
}

.wk-container.home {
  overflow: auto !important;
}

.simplebar-scrollbar.simplebar-visible:before{
  opacity:.6 !important;
  transition:opacity 0.1s linear !important
}

.wk-header {
  position: relative;
  background: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
}

.wk-header::after {
  content: "";
  position:absolute;
  z-index: -1;
  height: 10px;
  top: 60%;
  left: 2%;
  right: 2%;
  border-radius: 100px / 5px;
  box-shadow:0 0 18px rgba(0,0,0,0.6);
}

/* CUSTOM TABLE */

.home .v-data-table__wrapper table .v-data-table-header-mobile tr th {
  border-bottom: none !important;
}

.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row:first-child {
  margin-top: 3px;
  border-top: thin solid rgba(0, 0, 0, 0.12);
}

.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row:last-child {
  border: none;
}
.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row {
  border-bottom: 1px solid #efefef;
  display:table-row;
  height: 48px;
  cursor: pointer;
}

.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row td, .home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row .v-data-table__mobile-row__header {
  display: none;
}

.home .v-data-table__wrapper table tbody tr:not(:last-child) .v-data-table__mobile-row:last-child, .home .v-data-table__wrapper table thead.v-data-table-header-mobile tr:last-child th  {
  border-bottom: none !important;
}

.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row .v-data-table__mobile-row__cell {
  text-align: start !important;
}

.home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row td:nth-child(1), .home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row td:nth-child(2), .home .v-data-table__wrapper table tbody .v-data-table__mobile-table-row td:nth-child(5) {
  display: table-cell;
}

.v-list-item__icon {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* PROFILE */
.wk-profile-tabs {
  max-width: 1080px;
  margin: 0 auto;
}

.wk-profile-tabs .v-item-group {
  background: transparent !important;
  margin: 10px 16px 0 0;
}

.wk-profile-tabs .v-item-group .v-slide-group__wrapper {
  width: 170px;
}

.wk-profile-tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content .v-tab {
  height: 40px;
  text-transform: capitalize;
}


.wk-profile-tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content .v-tab--active {
  font-weight: 700;
  color: #1976d2;
}

.wk-profile-tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content .v-tabs-slider-wrapper {
  width: 100% !important;
  opacity: 0.2;
}

.wk-profile-tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content .v-tab::before,
.wk-profile-tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content .v-tabs-slider-wrapper .v-tabs-slider,
.wk-profile-tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content .v-tab .v-ripple__container {
  border-radius: 20px !important;
}

@media (max-width: 960px) {
  .wk-profile-tabs .v-window {
    padding: 5px;
    margin: 0;
  }

  .wk-profile-tabs .v-item-group {
    background: transparent !important;
    margin: 0;
  }

  .wk-profile-tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content .v-tabs-slider-wrapper {
    display: none;
  }

  .wk-profile-tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content {
    margin: 0 10px;
  }

  .wk-profile-tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content .v-tab {
    margin-right: 5px;
  }

  .wk-profile-tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content .v-tab--active {
    background: rgba(25, 118, 210, 0.2);
    border-radius: 20px;
  }
}

.wk-profile-tabs .v-window {
  padding: 10px;
  margin: 0;
}

.wk-profile {
  display: flex;
  flex-direction: column;
}

.wk-profile .wk-profile-wrapper {
  justify-content: center;
  overflow: hidden;
  position: relative;
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%)
}

.wk-profile-wrapper .wk-profile-name {
  flex-wrap: nowrap;
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
  background: #fff;
}

.wk-profile-cover {
  width: 100%;
  background: rgba(123, 123, 123, 0.2);
  height: 230px;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  position: relative;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background: url("/static/images/cover.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
}

.wk-profile-img {
  align-self: center;
  align-items: flex-end;
  display: flex;
  flex-shrink: 0;
  position: relative;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: -160px;
}

.wk-profile-img .v-image {
  border: 4px solid #fff !important;
}

.wk-full-name {
  font-weight: 700;
  font-size: 1.2rem;
}

.wk-profile-name .wk-display-name {
  margin-left: 10px;
  color: #666;
}

.wk-profile .v-card {
  margin-top: 20px;
}

.wk-information {
  padding: 10px;
  max-width: 720px;
}

.wk-badge {
  padding: 2px 10px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  text-transform: capitalize;
  margin-right: 5px;
  font-size: 0.8rem;
  cursor: default;
}

.wk-primary-color {
  background: #1976d2;
  color: #fff;
}

.wk-success-color {
  border-color: #289672;
  background: #289672;
  color: #fff;
  cursor: not-allowed;
}

.wk-success-color:hover, .wk-success-color:focus, .wk-success-color:active {
  border-color: #29bb89;
  background: #29bb89;
  color: #fff;
}

.wk-grey-color {
  background: #f8f9fa;
  color: #212529;
}

.wk-information {
  flex-wrap: nowrap;
}

.wk-profile-content {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: flex-start;
  position: relative;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 !important;
}

.wk-profile-content .icon {
  padding: 6px;
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.wk-profile-detail {
  padding: 0 10px;
}

.wk-profile-detail label {
  color: #65676b;
  font-size: 0.7rem;
}

@media (max-width: 768px ) {
  .wk-profile-detail span {
    font-size: 0.9rem;
  }
}